.Card {
    box-shadow: 0 2px 20px ;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
    position: relative
  

    

    
    
    
}

.MainList {
    height: 520px
}

.Card:hover {
    transform:scale(1.02)
}

.dated {
    position: absolute;
    bottom: 0
}